@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

.settings-button {
  background: none;
  border: none;
  position: absolute;
}
.action a {
  padding: 20px;
  background: black;
  border-radius: 10px;
}
.settings {
  position: absolute;
  top: 10px;
  left: 10px;
}
